@use '../../vars.scss' as *;

header {
	padding: clamp(10px, 2.5vw, 45px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #eaeaea;
	row-gap: 10px;

	a, a:visited {
		text-decoration: none;
		color: inherit;
	}

	img {
		margin-right: 15px;
	}

	.headerLeft {
		display: flex;
		align-items: center;

		h3 {
			text-transform: uppercase;
		}

		p {
			opacity: 0.5;
		}

		h3,
		p {
			margin: 0;
		}
	}

	.headerRight {
		list-style: none;
		display: flex;
		padding: 0;
		gap: 30px;

		li {
			cursor: pointer;
		}
	}
}

@media (max-width: 600px) {
	header {
		flex-wrap: wrap;
		justify-content: center;
	}

	.headerRight li{
		display: block;

		span {
			display: block;
		}

		img {
			display: block;
			margin-inline: auto;
			margin-bottom: 8px;
		}
	}
}